<a href="https://colab.research.google.com/github/zxiqxiy/ds1002-pjn7nn/blob/main/homework/week-13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 13

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## 1. Change Runtime to R (1 pt)

Change the runtime of this notebook to R. You can verify that you are running R by displaying the current version you are running. Run the cell below and show the output.

In [1]:
version

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          4
minor          3.2
year           2023
month          10
day            31
svn rev        85441
language       R
version.string R version 4.3.2 (2023-10-31)
nickname       Eye Holes

## 2. Create Vectors (2 pts)

Create two vectors in the cells below, according to the prompts given.

In [3]:
# create a vector with 7 integer values. Assign it to a variable named "my_integers"
my_integers <- c(3, 5, 7, 9, 11, 13, 15)
print(my_integers)

[1]  3  5  7  9 11 13 15

In [5]:
var1 = 8
var2 = 4
var3 = 12
var4 = 25

# Using the variables given above, assign three new variables the following calculated values:
#
# 1. Your first variable should be assigned the calculated value of var2 divided by var1.
# 2. Your second variable should be assigned the calculated value of var2 cubed times var3.
# 3. Your third variable should be assigned the calculated value of var4 integer divided by var3.
#
# Next, create an array populated by your three variables. Assign the array to a new variable named "my_calculated_values"

calculated_var1 <- var2 / var1
calculated_var2 <- var2^3 * var3
calculated_var3 <- as.integer(var4 / var3)
my_calculated_values <- c(calculated_var1, calculated_var2, calculated_var3)
print(my_calculated_values)

[1]   0.5 768.0   2.0

## 3. Vector Indexes (3 pts)

In the cell below, create a vector that starts with the integer 4, that increments by counts of 3 all the way to 28.

Assign the vector to a variable name.

In [6]:
#
my_vector <- seq(from = 4, to = 28, by = 3)
print(my_vector)

[1]  4  7 10 13 16 19 22 25 28

Next, show how to display this vector with the 3 index removed.

In [7]:
#
my_new_vector <- my_vector[-3]
print(my_new_vector)

[1]  4  7 13 16 19 22 25 28

Finally, show how to delete the 4th, 5th, and 7th indexes from the vector and update the vector so they are forever removed from the vector.

Hint: there is a fairly simple way to do this in one line, such that you don't have to run a separate command for each removal.

In [8]:
#
my_updated_vector <- my_new_vector[-c(4, 5, 7)]
print(my_updated_vector)

[1]  4  7 13 22 28

## 4. Create a Data Frame (3 pts)

In the cell below create a data frame with 10 observations (rows) and 5 variables (columns) each. This data frame will describe some of your favorite musical performers. You can use real or fictitious data to populate your data frame.

Variables:
  - `artist` - Artist or band name
  - `category` - Rock, Pop, Country, Hip-hop, Jazz, Classical, Soul, Other. (Try to distribute your selections here)
  - `size` - (number of members, 1-?)
  - `start` - Debut year of artist.
  - `grammy` - Grammmy winner? `TRUE` | `FALSE`

First create vectors for each variable populated with your own performer data. Then create a data frame from these vectors (be sure to assign column names too) and assign it to a named variable such as `df`.

In [9]:
#
artist <- c("The Beatles", "ENHYPEN", "Johnny Cash", "Kendrick Lamar", "Miles Davis",
            "Beethoven", "Aretha Franklin", "Radiohead", "Taylor Swift", "Prince")
category <- c("Rock", "Pop", "Country", "Hip-hop", "Jazz", "Classical", "Soul", "Rock", "Pop", "Other")
size <- c(4, 1, 1, 1, 5, 1, 1, 5, 1, 1)
start <- c(1960, 2021, 1955, 2005, 1944, 1790, 1956, 1985, 2006, 1975)
grammy <- c(TRUE,FALSE, FALSE, TRUE, TRUE, FALSE, TRUE, TRUE, TRUE, TRUE)
df <- data.frame(artist = artist,
                 category = category,
                 size = size,
                 start = start,
                 grammy = grammy)
print(df)

            artist  category size start grammy
1      The Beatles      Rock    4  1960   TRUE
2          ENHYPEN       Pop    1  2021  FALSE
3      Johnny Cash   Country    1  1955  FALSE
4   Kendrick Lamar   Hip-hop    1  2005   TRUE
5      Miles Davis      Jazz    5  1944   TRUE
6        Beethoven Classical    1  1790  FALSE
7  Aretha Franklin      Soul    1  1956   TRUE
8        Radiohead      Rock    5  1985   TRUE
9     Taylor Swift       Pop    1  2006   TRUE
10          Prince     Other    1  1975   TRUE

## 5. Filter/Query a Data Frame (2 pts)

Use the data frame you created above and show how to perform the following queries.

In [12]:
# Display the first 3 records and only the `artist`, `category` and `grammy` columns for each.
columns <- df[, c("artist", "category", "grammy")]
first_3_records <- head(columns, 3)
print(first_3_records)

       artist category grammy
1 The Beatles     Rock   TRUE
2     ENHYPEN      Pop  FALSE
3 Johnny Cash  Country  FALSE

In [13]:
# Display the records for just one musical category, such as only Rock bands or only Hip-hop bands.
pop_artists <- subset(df, category == "Pop")
print(pop_artists)

        artist category size start grammy
2      ENHYPEN      Pop    1  2021  FALSE
9 Taylor Swift      Pop    1  2006   TRUE

## Query a Data Frame using `tidyverse` (4 pts)

1. Show how to load the library.
2. Show how to glimpse basic features of the `starwars` data table.
3. Create a query using tidyverse that retrieves the following data:
    - Selects only these columns: `name`, `height`, `sex`, `species`.
    - Filters for all species that are NOT Human.
    - Arranges the resulting data in order by name.

Show your output in a data frame.

In [ ]:
#
library(tidyverse)
glimpse(starwars)
output<- starwars %>%
  select(name,height,sex,species) %>%
  filter(species != "Human") %>%
  arrange(name)
print(output)